In [2]:
import pandas as pd
from pathlib import Path

In [8]:
current_path = Path.cwd()
data_path = current_path.parent.joinpath('data')

# Countries

In [10]:
df_countries_raw = pd.read_csv(data_path.joinpath('df_countries.csv'), sep=';', header=0)
df_countries_raw.head()

  CountryCode Names.Name.@LanguageCode                          Names.Name.$
0          AD                       EN                               Andorra
1          AE                       EN                  United Arab Emirates
2          AF                       EN                           Afghanistan
3          AG                       EN  Antigua And Barbuda, Leeward Islands
4          AI                       EN             Anguilla, Leeward Islands

In [11]:
df_countries_raw.columns = ['CountryCode', 'LanguageCode', 'CountryName']
df_countries_raw.head()

  CountryCode LanguageCode                           CountryName
0          AD           EN                               Andorra
1          AE           EN                  United Arab Emirates
2          AF           EN                           Afghanistan
3          AG           EN  Antigua And Barbuda, Leeward Islands
4          AI           EN             Anguilla, Leeward Islands

In [12]:
df_countries_clean = df_countries_raw[['CountryCode', 'CountryName']]
df_countries_clean.head()

  CountryCode                           CountryName
0          AD                               Andorra
1          AE                  United Arab Emirates
2          AF                           Afghanistan
3          AG  Antigua And Barbuda, Leeward Islands
4          AI             Anguilla, Leeward Islands

In [14]:
df_countries_clean.to_csv(data_path.joinpath('df_countries_clean.csv'), sep=';', header=True, index=False)

# Cities

In [15]:
df_cities_raw = pd.read_csv(data_path.joinpath('df_cities.csv'), sep=';', header=0)
df_cities_raw.head()

,CityCode,CountryCode,UtcOffset,TimeZoneId,Names.Name.@LanguageCode,Names.Name.$,Airports.AirportCode
0,AAA,PF,-10:00,Pacific/Tahiti,EN,Anaa,AAA
1,AAB,AU,+10:00,Australia/Brisbane,EN,Arrabury,AAB
2,AAC,EG,+02:00,Africa/Cairo,EN,El Arish,AAC
3,AAD,SO,+03:00,Africa/Mogadishu,EN,Adado,AAD
4,AAE,DZ,+01:00,Africa/Algiers,EN,Annaba,AAE

In [16]:
df_cities_raw.columns = ['CityCode', 'CountryCode', 'UtcOffset', 'TimeZoneId','LanguageCode', 'AirportName', 'AirportCode']
df_cities_raw.head()

,CityCode,CountryCode,UtcOffset,TimeZoneId,LanguageCode,AirportName,AirportCode
0,AAA,PF,-10:00,Pacific/Tahiti,EN,Anaa,AAA
1,AAB,AU,+10:00,Australia/Brisbane,EN,Arrabury,AAB
2,AAC,EG,+02:00,Africa/Cairo,EN,El Arish,AAC
3,AAD,SO,+03:00,Africa/Mogadishu,EN,Adado,AAD
4,AAE,DZ,+01:00,Africa/Algiers,EN,Annaba,AAE

In [17]:
df_cities_clean = df_cities_raw[['CityCode', 'CountryCode', 'UtcOffset', 'TimeZoneId']]
df_cities_clean.to_csv(data_path.joinpath('df_cities_clean.csv'), sep=';', header=True, index=False)
df_cities_clean.head()

  CityCode CountryCode UtcOffset          TimeZoneId
0      AAA          PF    -10:00      Pacific/Tahiti
1      AAB          AU    +10:00  Australia/Brisbane
2      AAC          EG    +02:00        Africa/Cairo
3      AAD          SO    +03:00    Africa/Mogadishu
4      AAE          DZ    +01:00      Africa/Algiers

# Airports

In [26]:
df_airports_raw = pd.read_csv(data_path.joinpath('df_airports.csv'), sep=';', header=0)
df_airports_raw.head()

,AirportCode,CityCode,CountryCode,LocationType,UtcOffset,TimeZoneId,Position.Coordinate.Latitude,Position.Coordinate.Longitude,Names.Name.@LanguageCode,Names.Name.$
0,AAA,AAA,PF,Airport,-10:00,Pacific/Tahiti,-17.3525,-145.5100,EN,Anaa
1,AAB,AAB,AU,Airport,+10:00,Australia/Brisbane,-26.6911,141.0472,EN,Arrabury
2,AAC,AAC,EG,Airport,+02:00,Africa/Cairo,31.0733,33.8358,EN,El Arish International
3,AAD,AAD,SO,Airport,+03:00,Africa/Mogadishu,6.0961,46.6375,EN,Adado
4,AAE,AAE,DZ,Airport,+01:00,Africa/Algiers,36.8222,7.8092,EN,Annaba Rabah Bitat

In [27]:
df_airports_raw.columns = ['AirportCode', 'CityCode', 'CountryCode', 'LocationType', 'UtcOffset', 'TimeZoneId', 'Latitude', 'Longitude', 'LanguageCode', 'AirportName']
df_airports_raw.head()

,AirportCode,CityCode,CountryCode,LocationType,UtcOffset,TimeZoneId,Latitude,Longitude,LanguageCode,AirportName
0,AAA,AAA,PF,Airport,-10:00,Pacific/Tahiti,-17.3525,-145.5100,EN,Anaa
1,AAB,AAB,AU,Airport,+10:00,Australia/Brisbane,-26.6911,141.0472,EN,Arrabury
2,AAC,AAC,EG,Airport,+02:00,Africa/Cairo,31.0733,33.8358,EN,El Arish International
3,AAD,AAD,SO,Airport,+03:00,Africa/Mogadishu,6.0961,46.6375,EN,Adado
4,AAE,AAE,DZ,Airport,+01:00,Africa/Algiers,36.8222,7.8092,EN,Annaba Rabah Bitat

In [28]:
df_airports_clean = df_airports_raw[['AirportCode', 'CityCode', 'CountryCode', 'LocationType', 'UtcOffset', 'TimeZoneId', 'Latitude', 'Longitude', 'AirportName']]
df_airports_clean.to_csv(data_path.joinpath('df_airports_clean.csv'), sep=';', header=True, index=False)
df_airports_clean.head()

,AirportCode,CityCode,CountryCode,LocationType,UtcOffset,TimeZoneId,Latitude,Longitude,AirportName
0,AAA,AAA,PF,Airport,-10:00,Pacific/Tahiti,-17.3525,-145.5100,Anaa
1,AAB,AAB,AU,Airport,+10:00,Australia/Brisbane,-26.6911,141.0472,Arrabury
2,AAC,AAC,EG,Airport,+02:00,Africa/Cairo,31.0733,33.8358,El Arish International
3,AAD,AAD,SO,Airport,+03:00,Africa/Mogadishu,6.0961,46.6375,Adado
4,AAE,AAE,DZ,Airport,+01:00,Africa/Algiers,36.8222,7.8092,Annaba Rabah Bitat

# Airlines

In [23]:
df_airlines_raw = pd.read_csv(data_path.joinpath('df_airlines.csv'), sep=';', header=0)
df_airlines_raw.head()

  AirlineID AirlineID_ICAO Names.Name.@LanguageCode          Names.Name.$
0        0A            GNT                       EN             Amber Air
1        0B            BMS                       EN              Blue Air
2        0D            DWT                       EN     Darwin Airline Sa
3        0J            PJZ                       EN        Premium Jet Ag
4        0K            KRT                       EN  Aircompany Kokshetau

In [24]:
df_airlines_raw.columns = ['AirlineID', 'AirlineID_ICAO', 'LanguageCode', 'AirlineName']
df_airlines_raw.head()

  AirlineID AirlineID_ICAO LanguageCode           AirlineName
0        0A            GNT           EN             Amber Air
1        0B            BMS           EN              Blue Air
2        0D            DWT           EN     Darwin Airline Sa
3        0J            PJZ           EN        Premium Jet Ag
4        0K            KRT           EN  Aircompany Kokshetau

In [25]:
df_airlines_clean = df_airlines_raw[['AirlineID', 'AirlineID_ICAO', 'AirlineName']]
df_airlines_clean.to_csv(data_path.joinpath('df_airlines_clean.csv'), sep=';', header=True, index=False)
df_airlines_clean.head()

  AirlineID AirlineID_ICAO           AirlineName
0        0A            GNT             Amber Air
1        0B            BMS              Blue Air
2        0D            DWT     Darwin Airline Sa
3        0J            PJZ        Premium Jet Ag
4        0K            KRT  Aircompany Kokshetau

# Aircrafts

In [19]:
df_aircrafts_raw = pd.read_csv(data_path.joinpath('df_aircrafts.csv'), sep=';', header=0)
df_aircrafts_raw.head()

,AircraftCode,AirlineEquipCode,Names.Name.@LanguageCode,Names.Name.$
0,100,F100,EN,Fokker 100
1,141,B461,EN,BAE Systems 146-100 Passenger
2,142,B462,EN,BAE Systems 146-200 Passenger
3,143,B463,EN,BAE Systems 146-300 Passenger
4,14X,B461,EN,BAE Systems 146-100 Freighter

In [20]:
df_aircrafts_raw.columns = ['AircraftCode', 'AirlineEquipCode', 'LanguageCode', 'AircraftName']
df_aircrafts_raw.head()

  AircraftCode AirlineEquipCode LanguageCode                   AircraftName
0          100             F100           EN                     Fokker 100
1          141             B461           EN  BAE Systems 146-100 Passenger
2          142             B462           EN  BAE Systems 146-200 Passenger
3          143             B463           EN  BAE Systems 146-300 Passenger
4          14X             B461           EN  BAE Systems 146-100 Freighter

In [22]:
df_aircrafts_clean = df_aircrafts_raw[['AircraftCode', 'AirlineEquipCode', 'AircraftName']]
df_aircrafts_clean.to_csv(data_path.joinpath('df_aircrafts_clean.csv'), sep=';', header=True, index=False)
df_aircrafts_clean.head()

  AircraftCode AirlineEquipCode                   AircraftName
0          100             F100                     Fokker 100
1          141             B461  BAE Systems 146-100 Passenger
2          142             B462  BAE Systems 146-200 Passenger
3          143             B463  BAE Systems 146-300 Passenger
4          14X             B461  BAE Systems 146-100 Freighter