In [1]:
import pandas as pd
from pathlib import Path

In [2]:
current_path = Path.cwd()
data_path = current_path.parent.joinpath('data')

# Countries

In [3]:
df_countries_raw = pd.read_csv(data_path.joinpath('df_countries.csv'), sep=';', header=0)
df_countries_raw.head()

  CountryCode Names.Name.@LanguageCode                          Names.Name.$
0          AD                       EN                               Andorra
1          AE                       EN                  United Arab Emirates
2          AF                       EN                           Afghanistan
3          AG                       EN  Antigua And Barbuda, Leeward Islands
4          AI                       EN             Anguilla, Leeward Islands

In [4]:
df_countries_raw.columns = ['CountryCode', 'LanguageCode', 'CountryName']
df_countries_raw.head()

  CountryCode LanguageCode                           CountryName
0          AD           EN                               Andorra
1          AE           EN                  United Arab Emirates
2          AF           EN                           Afghanistan
3          AG           EN  Antigua And Barbuda, Leeward Islands
4          AI           EN             Anguilla, Leeward Islands

In [5]:
df_countries_clean = df_countries_raw[['CountryCode', 'CountryName']]
df_countries_clean.head()

  CountryCode                           CountryName
0          AD                               Andorra
1          AE                  United Arab Emirates
2          AF                           Afghanistan
3          AG  Antigua And Barbuda, Leeward Islands
4          AI             Anguilla, Leeward Islands

In [14]:
df_countries_clean.to_csv(data_path.joinpath('df_countries_clean.csv'), sep=';', header=True, index=False)

# Cities

In [6]:
df_cities_raw = pd.read_csv(data_path.joinpath('df_cities.csv'), sep=';', header=0)
df_cities_raw.head()

,CityCode,CountryCode,UtcOffset,TimeZoneId,Names.Name.@LanguageCode,Names.Name.$,Airports.AirportCode
0,AAA,PF,-10:00,Pacific/Tahiti,EN,Anaa,AAA
1,AAB,AU,+10:00,Australia/Brisbane,EN,Arrabury,AAB
2,AAC,EG,+02:00,Africa/Cairo,EN,El Arish,AAC
3,AAD,SO,+03:00,Africa/Mogadishu,EN,Adado,AAD
4,AAE,DZ,+01:00,Africa/Algiers,EN,Annaba,AAE

In [7]:
df_cities_raw.columns = ['CityCode', 'CountryCode', 'UtcOffset', 'TimeZoneId','LanguageCode', 'CityName', 'AirportCode']
df_cities_raw.head()

,CityCode,CountryCode,UtcOffset,TimeZoneId,LanguageCode,CityName,AirportCode
0,AAA,PF,-10:00,Pacific/Tahiti,EN,Anaa,AAA
1,AAB,AU,+10:00,Australia/Brisbane,EN,Arrabury,AAB
2,AAC,EG,+02:00,Africa/Cairo,EN,El Arish,AAC
3,AAD,SO,+03:00,Africa/Mogadishu,EN,Adado,AAD
4,AAE,DZ,+01:00,Africa/Algiers,EN,Annaba,AAE

In [8]:
df_cities_clean = df_cities_raw[['CityCode', 'CountryCode', 'UtcOffset', 'TimeZoneId', 'CityName']]
#df_cities_clean.to_csv(data_path.joinpath('df_cities_clean.csv'), sep=';', header=True, index=False)
df_cities_clean.head()

  CityCode CountryCode UtcOffset          TimeZoneId  CityName
0      AAA          PF    -10:00      Pacific/Tahiti      Anaa
1      AAB          AU    +10:00  Australia/Brisbane  Arrabury
2      AAC          EG    +02:00        Africa/Cairo  El Arish
3      AAD          SO    +03:00    Africa/Mogadishu     Adado
4      AAE          DZ    +01:00      Africa/Algiers    Annaba

# Airports

In [9]:
df_airports_raw = pd.read_csv(data_path.joinpath('df_airports.csv'), sep=';', header=0)
df_airports_raw.head()

,AirportCode,CityCode,CountryCode,LocationType,UtcOffset,TimeZoneId,Position.Coordinate.Latitude,Position.Coordinate.Longitude,Names.Name.@LanguageCode,Names.Name.$
0,AAA,AAA,PF,Airport,-10:00,Pacific/Tahiti,-17.3525,-145.5100,EN,Anaa
1,AAB,AAB,AU,Airport,+10:00,Australia/Brisbane,-26.6911,141.0472,EN,Arrabury
2,AAC,AAC,EG,Airport,+02:00,Africa/Cairo,31.0733,33.8358,EN,El Arish International
3,AAD,AAD,SO,Airport,+03:00,Africa/Mogadishu,6.0961,46.6375,EN,Adado
4,AAE,AAE,DZ,Airport,+01:00,Africa/Algiers,36.8222,7.8092,EN,Annaba Rabah Bitat

In [10]:
df_airports_raw.columns = ['AirportCode', 'CityCode', 'CountryCode', 'LocationType', 'UtcOffset', 'TimeZoneId', 'Latitude', 'Longitude', 'LanguageCode', 'AirportName']
df_airports_raw.head()

,AirportCode,CityCode,CountryCode,LocationType,UtcOffset,TimeZoneId,Latitude,Longitude,LanguageCode,AirportName
0,AAA,AAA,PF,Airport,-10:00,Pacific/Tahiti,-17.3525,-145.5100,EN,Anaa
1,AAB,AAB,AU,Airport,+10:00,Australia/Brisbane,-26.6911,141.0472,EN,Arrabury
2,AAC,AAC,EG,Airport,+02:00,Africa/Cairo,31.0733,33.8358,EN,El Arish International
3,AAD,AAD,SO,Airport,+03:00,Africa/Mogadishu,6.0961,46.6375,EN,Adado
4,AAE,AAE,DZ,Airport,+01:00,Africa/Algiers,36.8222,7.8092,EN,Annaba Rabah Bitat

In [11]:
df_airports_clean = df_airports_raw[['AirportCode', 'CityCode', 'CountryCode', 'LocationType', 'UtcOffset', 'TimeZoneId', 'Latitude', 'Longitude', 'AirportName']]
#df_airports_clean.to_csv(data_path.joinpath('df_airports_clean.csv'), sep=';', header=True, index=False)
df_airports_clean.head()

,AirportCode,CityCode,CountryCode,LocationType,UtcOffset,TimeZoneId,Latitude,Longitude,AirportName
0,AAA,AAA,PF,Airport,-10:00,Pacific/Tahiti,-17.3525,-145.5100,Anaa
1,AAB,AAB,AU,Airport,+10:00,Australia/Brisbane,-26.6911,141.0472,Arrabury
2,AAC,AAC,EG,Airport,+02:00,Africa/Cairo,31.0733,33.8358,El Arish International
3,AAD,AAD,SO,Airport,+03:00,Africa/Mogadishu,6.0961,46.6375,Adado
4,AAE,AAE,DZ,Airport,+01:00,Africa/Algiers,36.8222,7.8092,Annaba Rabah Bitat

# Airlines

In [12]:
df_airlines_raw = pd.read_csv(data_path.joinpath('df_airlines.csv'), sep=';', header=0)
df_airlines_raw.head()

  AirlineID AirlineID_ICAO Names.Name.@LanguageCode          Names.Name.$
0        0A            GNT                       EN             Amber Air
1        0B            BMS                       EN              Blue Air
2        0D            DWT                       EN     Darwin Airline Sa
3        0J            PJZ                       EN        Premium Jet Ag
4        0K            KRT                       EN  Aircompany Kokshetau

In [13]:
df_airlines_raw.columns = ['AirlineID', 'AirlineID_ICAO', 'LanguageCode', 'AirlineName']
df_airlines_raw.head()

  AirlineID AirlineID_ICAO LanguageCode           AirlineName
0        0A            GNT           EN             Amber Air
1        0B            BMS           EN              Blue Air
2        0D            DWT           EN     Darwin Airline Sa
3        0J            PJZ           EN        Premium Jet Ag
4        0K            KRT           EN  Aircompany Kokshetau

In [14]:
df_airlines_clean = df_airlines_raw[['AirlineID', 'AirlineID_ICAO', 'AirlineName']]
#df_airlines_clean.to_csv(data_path.joinpath('df_airlines_clean.csv'), sep=';', header=True, index=False)
df_airlines_clean.head()

  AirlineID AirlineID_ICAO           AirlineName
0        0A            GNT             Amber Air
1        0B            BMS              Blue Air
2        0D            DWT     Darwin Airline Sa
3        0J            PJZ        Premium Jet Ag
4        0K            KRT  Aircompany Kokshetau

# Aircrafts

In [15]:
df_aircrafts_raw = pd.read_csv(data_path.joinpath('df_aircrafts.csv'), sep=';', header=0)
df_aircrafts_raw.head()

,AircraftCode,AirlineEquipCode,Names.Name.@LanguageCode,Names.Name.$
0,100,F100,EN,Fokker 100
1,141,B461,EN,BAE Systems 146-100 Passenger
2,142,B462,EN,BAE Systems 146-200 Passenger
3,143,B463,EN,BAE Systems 146-300 Passenger
4,14X,B461,EN,BAE Systems 146-100 Freighter

In [16]:
df_aircrafts_raw.columns = ['AircraftCode', 'AirlineEquipCode', 'LanguageCode', 'AircraftName']
df_aircrafts_raw.head()

  AircraftCode AirlineEquipCode LanguageCode                   AircraftName
0          100             F100           EN                     Fokker 100
1          141             B461           EN  BAE Systems 146-100 Passenger
2          142             B462           EN  BAE Systems 146-200 Passenger
3          143             B463           EN  BAE Systems 146-300 Passenger
4          14X             B461           EN  BAE Systems 146-100 Freighter

In [17]:
df_aircrafts_clean = df_aircrafts_raw[['AircraftCode', 'AirlineEquipCode', 'AircraftName']]
#df_aircrafts_clean.to_csv(data_path.joinpath('df_aircrafts_clean.csv'), sep=';', header=True, index=False)
df_aircrafts_clean.head()

  AircraftCode AirlineEquipCode                   AircraftName
0          100             F100                     Fokker 100
1          141             B461  BAE Systems 146-100 Passenger
2          142             B462  BAE Systems 146-200 Passenger
3          143             B463  BAE Systems 146-300 Passenger
4          14X             B461  BAE Systems 146-100 Freighter

# Value Counts

In [18]:
lst_df = [df_aircrafts_clean, df_airlines_clean, df_airports_clean, df_cities_clean, df_countries_clean]

In [19]:
for item in lst_df:
    display(item.value_counts())
    print("\n\n")

AircraftCode  AirlineEquipCode  AircraftName
762           B762              Boeing 767-200 Passenger                 2
100           F100              Fokker 100                               1
DHS           DHC3              De Havilland (Bombardier) DHC-3 Otter    1
EM2           E120              Embraer 120 Brasilia                     1
EC5           EC55              Eurocopter EC155                         1
                                                                        ..
AB4           A30B              Airbus A300B2 / A300B4 Passenger         1
A81           A148              Antonov AN148-100                        1
A5F           A225              Antonov An-225                           1
A58           ZZZZ              Antonov An-158                           1
YS1           YS11              NAMC YS-11                               1
Length: 379, dtype: int64

AirlineID  AirlineID_ICAO  AirlineName
4Y         BGA             Airbus Transport International    4
5H         FFV             Fly540                            2
0A         GNT             Amber Air                         1
PB         SPR             Pal Airlines                      1
OY         OAE             Omni Air International            1
                                                            ..
EW         EWG             Eurowings                         1
EX         SDO             Aerolineas Santo Domingo_ S.A.    1
EXN        EXN             Exin                              1
EXT        EXT             Night Express_ Frankfurt          1
ZY         CCO             China Air Cargo                   1
Length: 1006, dtype: int64

AirportCode  CityCode  CountryCode  LocationType  UtcOffset  TimeZoneId           Latitude  Longitude  AirportName
ADX          ADX       GB           Airport       +00:00     Europe/London         56.3667  -2.8667    St Andrews Raf Leuchars          2
AAA          AAA       PF           Airport       -10:00     Pacific/Tahiti       -17.3525  -145.5100  Anaa                             1
KWU          KWU       NZ           Airport       +12:00     Pacific/Auckland     -36.4333   174.8167  Mansion House                    1
KXN          KXN       GB           Rail Station  +00:00     Europe/London         54.3053  -2.7219    Kendal Oxenholme Rail Station    1
KXK          KXK       RU           Airport       +10:00     Asia/Vladivostok      50.4078   136.9358  Komsomolsk-Na-Amure Khurba       1
                                                                                                                                       ..
ELN          ELN       US           Airport       -08:00     America/Los_Angeles   47.0333  -120.5333  Ellensburg Bowers Field          1
ELM          ELM       US           Airport       -05:00     America/New_York      42.1600  -76.8917   Elmira/Corning                   1
ELL          ELL       ZA           Airport       +02:00     Africa/Johannesburg  -23.7261   27.6889   Ellisras Matimba                 1
ELK          ELK       US           Airport       -06:00     America/Chicago       35.4000  -99.4167   Elk City Regional Business       1
PPO          PPO       BS           Airport       -05:00     America/Nassau        24.8333  -76.3333   Powell Point                     1
Length: 6870, dtype: int64

CityCode  CountryCode  UtcOffset  TimeZoneId           CityName
WAS       US           -05:00     America/New_York     Washington      3
GBI       IN           +05:30     Asia/Kolkata         Gulbarga        2
IXX       IN           +05:30     Asia/Kolkata         Bidar           2
AEB       CN           +08:00     Asia/Shanghai        Baise           2
AAA       PF           -10:00     Pacific/Tahiti       Anaa            1
                                                                      ..
JGO       GL           -03:00     America/Godthab      Qeqertarsuaq    1
JGR       GL           -03:00     America/Godthab      Groennedal      1
JGS       CN           +08:00     Asia/Shanghai        Ji'an           1
JGX       US           -08:00     America/Los_Angeles  Glendale        1
ZZU       MW           +02:00     Africa/Blantyre      Mzuzu           1
Length: 10664, dtype: int64

CountryCode  CountryName
IR           Iran Islamic Republic Of    2
AD           Andorra                     1
MY           Malaysia                    1
NC           New Caledonia               1
NE           Niger                       1
                                        ..
GP           Guadeloupe                  1
GQ           Equatorial Guinea           1
GR           Greece                      1
GT           Guatemala                   1
ZW           Zimbabwe                    1
Length: 237, dtype: int64

In [20]:
df_airports_clean[df_airports_clean["CityCode"] == "BER"]

,AirportCode,CityCode,CountryCode,LocationType,UtcOffset,TimeZoneId,Latitude,Longitude,AirportName
687,BER,BER,DE,Airport,+01:00,Europe/Berlin,52.3667,13.5033,Berlin/Brandenburg
3101,GWW,BER,DE,Airport,+01:00,Europe/Berlin,52.4833,13.1333,Berlin Royal Air Force Gatow