In [21]:
import pandas as pd
from pathlib import Path

In [22]:
current_path = Path.cwd()
data_path = current_path.parent.joinpath('data')

# Countries

In [23]:
df_countries_raw = pd.read_csv(data_path.joinpath('df_countries.csv'), sep=';', header=0)
df_countries_raw.head()

  CountryCode Names.Name.@LanguageCode                          Names.Name.$
0          AD                       EN                               Andorra
1          AE                       EN                  United Arab Emirates
2          AF                       EN                           Afghanistan
3          AG                       EN  Antigua And Barbuda, Leeward Islands
4          AI                       EN             Anguilla, Leeward Islands

In [24]:
df_countries_raw.columns = ['CountryCode', 'LanguageCode', 'CountryName']
df_countries_raw.head()

  CountryCode LanguageCode                           CountryName
0          AD           EN                               Andorra
1          AE           EN                  United Arab Emirates
2          AF           EN                           Afghanistan
3          AG           EN  Antigua And Barbuda, Leeward Islands
4          AI           EN             Anguilla, Leeward Islands

In [25]:
df_countries_clean = df_countries_raw[['CountryCode', 'CountryName']]
df_countries_clean.head()

  CountryCode                           CountryName
0          AD                               Andorra
1          AE                  United Arab Emirates
2          AF                           Afghanistan
3          AG  Antigua And Barbuda, Leeward Islands
4          AI             Anguilla, Leeward Islands

In [26]:
df_countries_clean.isna().sum()

CountryCode    1
CountryName    0
dtype: int64

In [29]:
df_countries_clean.loc[df_countries_clean['CountryCode'].isna()]

    CountryCode CountryName
151         NaN     Namibia

In [30]:
df_countries_clean.loc[df_countries_clean['CountryCode'].isna(), 'CountryCode'] = 'NA'

/tmp/ipykernel_968960/4024285792.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_countries_clean.loc[df_countries_clean['CountryCode'].isna(), 'CountryCode'] = 'NA'

In [31]:
df_countries_clean.isna().sum()

CountryCode    0
CountryName    0
dtype: int64

In [32]:
df_countries_clean.loc[df_countries_clean.duplicated()]

    CountryCode               CountryName
100          IR  Iran Islamic Republic Of

In [33]:
df_countries_clean.drop_duplicates(subset=["CountryCode"], inplace=True)

/tmp/ipykernel_968960/3172609839.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_countries_clean.drop_duplicates(subset=["CountryCode"], inplace=True)

In [34]:
print("Shape df_countries_clean", df_countries_clean.shape)
df_countries_clean.to_csv(data_path.joinpath('df_countries_clean.csv'), sep=';', header=True, index=False)

Shape df_countries_clean (238, 2)

# Cities

In [35]:
df_cities_raw = pd.read_csv(data_path.joinpath('df_cities.csv'), sep=';', header=0)
df_cities_raw.head()

,CityCode,CountryCode,UtcOffset,TimeZoneId,Names.Name.@LanguageCode,Names.Name.$,Airports.AirportCode
0,AAA,PF,-10:00,Pacific/Tahiti,EN,Anaa,AAA
1,AAB,AU,+10:00,Australia/Brisbane,EN,Arrabury,AAB
2,AAC,EG,+02:00,Africa/Cairo,EN,El Arish,AAC
3,AAD,SO,+03:00,Africa/Mogadishu,EN,Adado,AAD
4,AAE,DZ,+01:00,Africa/Algiers,EN,Annaba,AAE

In [36]:
df_cities_raw.columns = ['CityCode', 'CountryCode', 'UtcOffset', 'TimeZoneId','LanguageCode', 'CityName', 'AirportCode']
df_cities_raw.head()

,CityCode,CountryCode,UtcOffset,TimeZoneId,LanguageCode,CityName,AirportCode
0,AAA,PF,-10:00,Pacific/Tahiti,EN,Anaa,AAA
1,AAB,AU,+10:00,Australia/Brisbane,EN,Arrabury,AAB
2,AAC,EG,+02:00,Africa/Cairo,EN,El Arish,AAC
3,AAD,SO,+03:00,Africa/Mogadishu,EN,Adado,AAD
4,AAE,DZ,+01:00,Africa/Algiers,EN,Annaba,AAE

In [37]:
df_cities_clean = df_cities_raw[['CityCode', 'CountryCode', 'UtcOffset', 'TimeZoneId', 'CityName']]
df_cities_clean.head()

  CityCode CountryCode UtcOffset          TimeZoneId  CityName
0      AAA          PF    -10:00      Pacific/Tahiti      Anaa
1      AAB          AU    +10:00  Australia/Brisbane  Arrabury
2      AAC          EG    +02:00        Africa/Cairo  El Arish
3      AAD          SO    +03:00    Africa/Mogadishu     Adado
4      AAE          DZ    +01:00      Africa/Algiers    Annaba

In [38]:
df_cities_clean.isna().sum()

CityCode        0
CountryCode    31
UtcOffset       0
TimeZoneId      0
CityName        0
dtype: int64

In [40]:
df_cities_clean.loc[df_cities_clean['CountryCode'].isna()]

     CityCode CountryCode UtcOffset       TimeZoneId       CityName
82        ADI         NaN    +02:00  Africa/Windhoek        Arandis
190       AIW         NaN    +02:00  Africa/Windhoek         Ai-Ais
917       BQI         NaN    +02:00  Africa/Windhoek         Bagani
2612      GFY         NaN    +02:00  Africa/Windhoek   Grootfontein
2733      GOG         NaN    +02:00  Africa/Windhoek        Gobabis
2902      HAL         NaN    +02:00  Africa/Windhoek         Halali
3733      KAS         NaN    +02:00  Africa/Windhoek      Karasburg
3992      KMP         NaN    +02:00  Africa/Windhoek   Keetmanshoop
4414      LHU         NaN    +02:00  Africa/Windhoek      Lianshulu
4656      LUD         NaN    +02:00  Africa/Windhoek       Luderitz
4963      MJO         NaN    +02:00  Africa/Windhoek     Mount Etjo
5101      MPA         NaN    +02:00  Africa/Windhoek  Katima Mulilo
5132      MQG         NaN    +02:00  Africa/Windhoek        Midgard
5443      NDU         NaN    +02:00  Africa/Windhoek          Rundu
5559      NNI         NaN    +02:00  Africa/Windhoek       Namutoni
5790      OGV         NaN    +02:00  Africa/Windhoek         Ongava
5799      OHI         NaN    +02:00  Africa/Windhoek       Oshakati
5815      OKF         NaN    +02:00  Africa/Windhoek      Okaukuejo
5829      OKU         NaN    +02:00  Africa/Windhoek   Mokuti Lodge
5858      OMD         NaN    +02:00  Africa/Windhoek     Oranjemund
5861      OMG         NaN    +02:00  Africa/Windhoek          Omega
5875      OND         NaN    +02:00  Africa/Windhoek       Ondangwa
5910      OPW         NaN    +02:00  Africa/Windhoek          Opuwo
5964      OTJ         NaN    +02:00  Africa/Windhoek    Otjiwarongo
7237      RHN         NaN    +02:00  Africa/Windhoek     Rosh Pinah
8005      SWP         NaN    +02:00  Africa/Windhoek     Swakopmund
8076      SZM         NaN    +02:00  Africa/Windhoek        Sesriem
8163      TCY         NaN    +02:00  Africa/Windhoek    Terrace Bay
8479      TSB         NaN    +02:00  Africa/Windhoek         Tsumeb
9057      WDH         NaN    +02:00  Africa/Windhoek       Windhoek
9247      WVB         NaN    +02:00  Africa/Windhoek     Walvis Bay

In [43]:
df_cities_clean.loc[df_cities_clean.duplicated()]

     CityCode CountryCode UtcOffset        TimeZoneId    CityName
100       AEB          CN    +08:00     Asia/Shanghai       Baise
2537      GBI          IN    +05:30      Asia/Kolkata    Gulbarga
3493      IXX          IN    +05:30      Asia/Kolkata       Bidar
9027      WAS          US    -05:00  America/New_York  Washington
9028      WAS          US    -05:00  America/New_York  Washington

In [86]:
df_cities_clean.drop_duplicates(subset=["CityCode"], inplace=True)

/tmp/ipykernel_968960/779693083.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cities_clean.drop_duplicates(subset=["CityCode"], inplace=True)

In [87]:
print("Shape df_cities_clean", df_cities_clean.shape)
df_cities_clean.to_csv(data_path.joinpath('df_cities_clean.csv'), sep=';', header=True, index=False)

Shape df_cities_clean (10693, 5)

# Airports

In [45]:
df_airports_raw = pd.read_csv(data_path.joinpath('df_airports.csv'), sep=';', header=0)
df_airports_raw.head()

,AirportCode,CityCode,CountryCode,LocationType,UtcOffset,TimeZoneId,Position.Coordinate.Latitude,Position.Coordinate.Longitude,Names.Name.@LanguageCode,Names.Name.$
0,AAA,AAA,PF,Airport,-10:00,Pacific/Tahiti,-17.3525,-145.5100,EN,Anaa
1,AAB,AAB,AU,Airport,+10:00,Australia/Brisbane,-26.6911,141.0472,EN,Arrabury
2,AAC,AAC,EG,Airport,+02:00,Africa/Cairo,31.0733,33.8358,EN,El Arish International
3,AAD,AAD,SO,Airport,+03:00,Africa/Mogadishu,6.0961,46.6375,EN,Adado
4,AAE,AAE,DZ,Airport,+01:00,Africa/Algiers,36.8222,7.8092,EN,Annaba Rabah Bitat

In [46]:
df_airports_raw.columns = ['AirportCode', 'CityCode', 'CountryCode', 'LocationType', 'UtcOffset', 'TimeZoneId', 'Latitude', 'Longitude', 'LanguageCode', 'AirportName']
df_airports_raw.head()

,AirportCode,CityCode,CountryCode,LocationType,UtcOffset,TimeZoneId,Latitude,Longitude,LanguageCode,AirportName
0,AAA,AAA,PF,Airport,-10:00,Pacific/Tahiti,-17.3525,-145.5100,EN,Anaa
1,AAB,AAB,AU,Airport,+10:00,Australia/Brisbane,-26.6911,141.0472,EN,Arrabury
2,AAC,AAC,EG,Airport,+02:00,Africa/Cairo,31.0733,33.8358,EN,El Arish International
3,AAD,AAD,SO,Airport,+03:00,Africa/Mogadishu,6.0961,46.6375,EN,Adado
4,AAE,AAE,DZ,Airport,+01:00,Africa/Algiers,36.8222,7.8092,EN,Annaba Rabah Bitat

In [47]:
df_airports_clean = df_airports_raw[['AirportCode', 'CityCode', 'CountryCode', 'LocationType', 'UtcOffset', 'TimeZoneId', 'Latitude', 'Longitude', 'AirportName']]
df_airports_clean.head()

,AirportCode,CityCode,CountryCode,LocationType,UtcOffset,TimeZoneId,Latitude,Longitude,AirportName
0,AAA,AAA,PF,Airport,-10:00,Pacific/Tahiti,-17.3525,-145.5100,Anaa
1,AAB,AAB,AU,Airport,+10:00,Australia/Brisbane,-26.6911,141.0472,Arrabury
2,AAC,AAC,EG,Airport,+02:00,Africa/Cairo,31.0733,33.8358,El Arish International
3,AAD,AAD,SO,Airport,+03:00,Africa/Mogadishu,6.0961,46.6375,Adado
4,AAE,AAE,DZ,Airport,+01:00,Africa/Algiers,36.8222,7.8092,Annaba Rabah Bitat

In [48]:
df_airports_clean.isna().sum()

AirportCode      0
CityCode         0
CountryCode     25
LocationType     0
UtcOffset        0
TimeZoneId       0
Latitude         0
Longitude        0
AirportName      4
dtype: int64

In [49]:
df_airports_clean.loc[df_airports_clean['CountryCode'].isna()]

,AirportCode,CityCode,CountryCode,LocationType,UtcOffset,TimeZoneId,Latitude,Longitude,AirportName
84,ADI,ADI,NaN,Airport,+02:00,Africa/Windhoek,-22.4000,15.0000,Arandis
203,AIW,AIW,NaN,Airport,+02:00,Africa/Windhoek,-27.9833,17.5833,Ai-Ais
979,BQI,BQI,NaN,Airport,+02:00,Africa/Windhoek,-18.1181,21.6297,Bagani
2376,ERS,WDH,NaN,Airport,+02:00,Africa/Windhoek,-22.6122,17.0806,Windhoek Eros Apt
2830,GFY,GFY,NaN,Airport,+02:00,Africa/Windhoek,-19.6000,18.1333,Grootfontein
2961,GOG,GOG,NaN,Airport,+02:00,Africa/Windhoek,-22.5047,18.9747,Gobabis
3145,HAL,HAL,NaN,Airport,+02:00,Africa/Windhoek,-19.9667,13.0667,Halali
4095,KAS,KAS,NaN,Airport,+02:00,Africa/Windhoek,-28.0297,18.7386,Karasburg
4364,KMP,KMP,NaN,Airport,+02:00,Africa/Windhoek,-26.5333,18.1000,Keetmanshoop
4807,LHU,LHU,NaN,Airport,+02:00,Africa/Windhoek,-18.1156,23.3917,Lianshulu
5062,LUD,LUD,NaN,Airport,+02:00,Africa/Windhoek,-26.6875,15.2428,Luderitz
5401,MJO,MJO,NaN,Airport,+02:00,Africa/Windhoek,-21.0167,16.4667,Mount Etjo
5542,MPA,MPA,NaN,Airport,+02:00,Africa/Windhoek,-17.6333,24.1833,Katima Mulilo Mpacha
5574,MQG,MQG,NaN,Airport,+02:00,Africa/Windhoek,-22.0833,17.3667,Midgard
5906,NDU,NDU,NaN,Airport,+02:00,Africa/Windhoek,-17.9561,19.7228,Rundu
6039,NNI,NNI,NaN,Airport,+02:00,Africa/Windhoek,-18.8167,16.9167,Namutoni
6288,OGV,OGV,NaN,Airport,+02:00,Africa/Windhoek,-19.3211,15.9019,Ongava
6297,OHI,OHI,NaN,Airport,+02:00,Africa/Windhoek,-17.7833,15.7000,Oshakati
6316,OKF,OKF,NaN,Airport,+02:00,Africa/Windhoek,-19.1667,15.9333,Okaukuejo
6331,OKU,OKU,NaN,Airport,+02:00,Africa/Windhoek,-18.8083,17.0500,Mokuti Lodge
6362,OMD,OMD,NaN,Airport,+02:00,Africa/Windhoek,-28.5867,16.4464,Oranjemund
6365,OMG,OMG,NaN,Airport,+02:00,Africa/Windhoek,-18.0000,22.0667,Omega
6379,OND,OND,NaN,Airport,+02:00,Africa/Windhoek,-17.8806,15.9472,Ondangwa
6415,OPW,OPW,NaN,Airport,+02:00,Africa/Windhoek,-18.0667,13.8333,Opuwo
6473,OTJ,OTJ,NaN,Airport,+02:00,Africa/Windhoek,-20.4306,16.6625,Otjiwarongo

In [50]:
df_airports_clean.loc[df_airports_clean.duplicated()]

,AirportCode,CityCode,CountryCode,LocationType,UtcOffset,TimeZoneId,Latitude,Longitude,AirportName
100,ADX,ADX,GB,Airport,+00:00,Europe/London,56.3667,-2.8667,St Andrews Raf Leuchars

In [51]:
df_airports_clean.drop_duplicates(subset=["AirportCode"], inplace=True)

/tmp/ipykernel_968960/386575301.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_airports_clean.drop_duplicates(subset=["AirportCode"], inplace=True)

In [52]:
print("Shape df_airports_clean", df_airports_clean.shape)
df_airports_clean.to_csv(data_path.joinpath('df_airports_clean.csv'), sep=';', header=True, index=False)

Shape df_airports_clean (6895, 9)

# Airlines

In [64]:
df_airlines_raw = pd.read_csv(data_path.joinpath('df_airlines.csv'), sep=';', header=0)
df_airlines_raw.head()

  AirlineID AirlineID_ICAO Names.Name.@LanguageCode          Names.Name.$
0        0A            GNT                       EN             Amber Air
1        0B            BMS                       EN              Blue Air
2        0D            DWT                       EN     Darwin Airline Sa
3        0J            PJZ                       EN        Premium Jet Ag
4        0K            KRT                       EN  Aircompany Kokshetau

In [65]:
df_airlines_raw.columns = ['AirlineID', 'AirlineID_ICAO', 'LanguageCode', 'AirlineName']
df_airlines_raw.head()

  AirlineID AirlineID_ICAO LanguageCode           AirlineName
0        0A            GNT           EN             Amber Air
1        0B            BMS           EN              Blue Air
2        0D            DWT           EN     Darwin Airline Sa
3        0J            PJZ           EN        Premium Jet Ag
4        0K            KRT           EN  Aircompany Kokshetau

In [66]:
df_airlines_clean = df_airlines_raw[['AirlineID', 'AirlineID_ICAO', 'AirlineName']]
df_airlines_clean.head()

  AirlineID AirlineID_ICAO           AirlineName
0        0A            GNT             Amber Air
1        0B            BMS              Blue Air
2        0D            DWT     Darwin Airline Sa
3        0J            PJZ        Premium Jet Ag
4        0K            KRT  Aircompany Kokshetau

In [67]:
df_airlines_clean.isna().sum()

AirlineID           1
AirlineID_ICAO    125
AirlineName         0
dtype: int64

In [68]:
df_airlines_clean.loc[df_airlines_clean['AirlineID'].isna()]

    AirlineID AirlineID_ICAO                    AirlineName
698       NaN            NSS  Nesma Airlines (Saudi Arabia)

In [71]:
df_airlines_clean[df_airlines_clean['AirlineName'] == 'Nesma Airlines']

    AirlineID AirlineID_ICAO     AirlineName
702        NE            NMA  Nesma Airlines

In [72]:
df_airlines_clean.dropna(axis=0, subset=['AirlineID'], inplace=True)

/tmp/ipykernel_968960/2590702297.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_airlines_clean.dropna(axis=0, subset=['AirlineID'], inplace=True)

In [73]:
df_airlines_clean.isna().sum()

AirlineID           0
AirlineID_ICAO    125
AirlineName         0
dtype: int64

In [74]:
df_airlines_clean.loc[df_airlines_clean.duplicated()]

     AirlineID AirlineID_ICAO                     AirlineName
89          4Y            BGA  Airbus Transport International
91          4Y            BGA  Airbus Transport International
92          4Y            BGA  Airbus Transport International
102         5H            FFV                          Fly540
1133        ZZ            NaN                             Alc
1134        ZZ            NaN                             Alc
1135        ZZ            NaN                             Alc

In [75]:
df_airlines_clean.drop_duplicates(subset=['AirlineID'], inplace=True)

/tmp/ipykernel_968960/1683240196.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_airlines_clean.drop_duplicates(subset=['AirlineID'], inplace=True)

In [76]:
print("Shape df_airlines_clean", df_airlines_clean.shape)
df_airlines_clean.to_csv(data_path.joinpath('df_airlines_clean.csv'), sep=';', header=True, index=False)

Shape df_airlines_clean (1126, 3)

# Aircrafts

In [77]:
df_aircrafts_raw = pd.read_csv(data_path.joinpath('df_aircrafts.csv'), sep=';', header=0)
df_aircrafts_raw.head()

,AircraftCode,AirlineEquipCode,Names.Name.@LanguageCode,Names.Name.$
0,100,F100,EN,Fokker 100
1,141,B461,EN,BAE Systems 146-100 Passenger
2,142,B462,EN,BAE Systems 146-200 Passenger
3,143,B463,EN,BAE Systems 146-300 Passenger
4,14X,B461,EN,BAE Systems 146-100 Freighter

In [78]:
df_aircrafts_raw.columns = ['AircraftCode', 'AirlineEquipCode', 'LanguageCode', 'AircraftName']
df_aircrafts_raw.head()

  AircraftCode AirlineEquipCode LanguageCode                   AircraftName
0          100             F100           EN                     Fokker 100
1          141             B461           EN  BAE Systems 146-100 Passenger
2          142             B462           EN  BAE Systems 146-200 Passenger
3          143             B463           EN  BAE Systems 146-300 Passenger
4          14X             B461           EN  BAE Systems 146-100 Freighter

In [79]:
df_aircrafts_clean = df_aircrafts_raw[['AircraftCode', 'AirlineEquipCode', 'AircraftName']]
df_aircrafts_clean.head()

  AircraftCode AirlineEquipCode                   AircraftName
0          100             F100                     Fokker 100
1          141             B461  BAE Systems 146-100 Passenger
2          142             B462  BAE Systems 146-200 Passenger
3          143             B463  BAE Systems 146-300 Passenger
4          14X             B461  BAE Systems 146-100 Freighter

In [81]:
df_aircrafts_clean.isna().sum()

AircraftCode        0
AirlineEquipCode    2
AircraftName        2
dtype: int64

In [82]:
df_aircrafts_clean.loc[df_aircrafts_clean.duplicated()]

    AircraftCode AirlineEquipCode              AircraftName
78           748              NaN                       NaN
100          762             B762  Boeing 767-200 Passenger

In [83]:
df_aircrafts_clean.drop_duplicates(subset=['AircraftCode'], inplace=True)

/tmp/ipykernel_968960/2723690214.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_aircrafts_clean.drop_duplicates(subset=['AircraftCode'], inplace=True)

In [85]:
print("Shape of df_aircrafts_clean", df_aircrafts_clean.shape)
df_aircrafts_clean.to_csv(data_path.joinpath('df_aircrafts_clean.csv'), sep=';', header=True, index=False)

Shape of df_aircrafts_clean (380, 3)

# Value Counts

In [18]:
lst_df = [df_aircrafts_clean, df_airlines_clean, df_airports_clean, df_cities_clean, df_countries_clean]

In [19]:
for item in lst_df:
    display(item.value_counts())
    print("\n\n")

AircraftCode  AirlineEquipCode  AircraftName
762           B762              Boeing 767-200 Passenger                 2
100           F100              Fokker 100                               1
DHS           DHC3              De Havilland (Bombardier) DHC-3 Otter    1
EM2           E120              Embraer 120 Brasilia                     1
EC5           EC55              Eurocopter EC155                         1
                                                                        ..
AB4           A30B              Airbus A300B2 / A300B4 Passenger         1
A81           A148              Antonov AN148-100                        1
A5F           A225              Antonov An-225                           1
A58           ZZZZ              Antonov An-158                           1
YS1           YS11              NAMC YS-11                               1
Length: 379, dtype: int64

AirlineID  AirlineID_ICAO  AirlineName
4Y         BGA             Airbus Transport International    4
5H         FFV             Fly540                            2
0A         GNT             Amber Air                         1
PB         SPR             Pal Airlines                      1
OY         OAE             Omni Air International            1
                                                            ..
EW         EWG             Eurowings                         1
EX         SDO             Aerolineas Santo Domingo_ S.A.    1
EXN        EXN             Exin                              1
EXT        EXT             Night Express_ Frankfurt          1
ZY         CCO             China Air Cargo                   1
Length: 1006, dtype: int64

AirportCode  CityCode  CountryCode  LocationType  UtcOffset  TimeZoneId           Latitude  Longitude  AirportName
ADX          ADX       GB           Airport       +00:00     Europe/London         56.3667  -2.8667    St Andrews Raf Leuchars          2
AAA          AAA       PF           Airport       -10:00     Pacific/Tahiti       -17.3525  -145.5100  Anaa                             1
KWU          KWU       NZ           Airport       +12:00     Pacific/Auckland     -36.4333   174.8167  Mansion House                    1
KXN          KXN       GB           Rail Station  +00:00     Europe/London         54.3053  -2.7219    Kendal Oxenholme Rail Station    1
KXK          KXK       RU           Airport       +10:00     Asia/Vladivostok      50.4078   136.9358  Komsomolsk-Na-Amure Khurba       1
                                                                                                                                       ..
ELN          ELN       US           Airport       -08:00     America/Los_Angeles   47.0333  -120.5333  Ellensburg Bowers Field          1
ELM          ELM       US           Airport       -05:00     America/New_York      42.1600  -76.8917   Elmira/Corning                   1
ELL          ELL       ZA           Airport       +02:00     Africa/Johannesburg  -23.7261   27.6889   Ellisras Matimba                 1
ELK          ELK       US           Airport       -06:00     America/Chicago       35.4000  -99.4167   Elk City Regional Business       1
PPO          PPO       BS           Airport       -05:00     America/Nassau        24.8333  -76.3333   Powell Point                     1
Length: 6870, dtype: int64

CityCode  CountryCode  UtcOffset  TimeZoneId           CityName
WAS       US           -05:00     America/New_York     Washington      3
GBI       IN           +05:30     Asia/Kolkata         Gulbarga        2
IXX       IN           +05:30     Asia/Kolkata         Bidar           2
AEB       CN           +08:00     Asia/Shanghai        Baise           2
AAA       PF           -10:00     Pacific/Tahiti       Anaa            1
                                                                      ..
JGO       GL           -03:00     America/Godthab      Qeqertarsuaq    1
JGR       GL           -03:00     America/Godthab      Groennedal      1
JGS       CN           +08:00     Asia/Shanghai        Ji'an           1
JGX       US           -08:00     America/Los_Angeles  Glendale        1
ZZU       MW           +02:00     Africa/Blantyre      Mzuzu           1
Length: 10664, dtype: int64

CountryCode  CountryName
IR           Iran Islamic Republic Of    2
AD           Andorra                     1
MY           Malaysia                    1
NC           New Caledonia               1
NE           Niger                       1
                                        ..
GP           Guadeloupe                  1
GQ           Equatorial Guinea           1
GR           Greece                      1
GT           Guatemala                   1
ZW           Zimbabwe                    1
Length: 237, dtype: int64

In [20]:
df_airports_clean[df_airports_clean["CityCode"] == "BER"]

,AirportCode,CityCode,CountryCode,LocationType,UtcOffset,TimeZoneId,Latitude,Longitude,AirportName
687,BER,BER,DE,Airport,+01:00,Europe/Berlin,52.3667,13.5033,Berlin/Brandenburg
3101,GWW,BER,DE,Airport,+01:00,Europe/Berlin,52.4833,13.1333,Berlin Royal Air Force Gatow